{require_otp_vsn, "1[8-9].*|[2-9][0-9].*"}.
{lib_dirs, []}.

{deps, [
      ]
}.

{erl_opts, [debug_info]}.

%% where rebar3 operates from; defaults to the current working directory
{root_dir, "."}.

{edoc_opts,[{todo,true}]}.


%% == EUnit ==

%% eunit:test(Tests)
{eunit_tests, [{application, vscode_lsp}]}.
%% Options for eunit:test(Tests, Opts)
{eunit_opts, [verbose]}.
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar3_format]}.
{format, [
    {files, ["**/*.erl"]},
    {formatter, default_formatter},
    {options, #{
        % paper => 100,
        % inline_qualified_function_composition => true,
        % inline_simple_funs => true,
        % inline_items => all,
        % inline_attributes => all,
        % inline_expressions => true,

        paper => 100,
        inline_qualified_function_composition => true,
        inline_simple_funs => true,
        inline_items => all,
        inline_attributes => all,
        inline_expressions => true,
        inline_clause_bodies => true
    }}
]}.

%% Keep only the logs of the last 5 runs
{ct_opts, [{keep_logs, 2}]}.


%% runs 'clean' before 'compile'
{provider_hooks, [{pre, [{compile, clean}]}]}.

%{project_plugins, [erlfmt]}.
